<section class="blog-post">
    <div class="container">
        <h1>{{title}}</h1>
        <p class="blog-date">{{date}}</p>
        <article class="blog-content">
            {{{content}}}
        </article>
        <a href="/blog" class="btn btn-secondary">← Back to Blog</a>
    </div>
</section> 